#main-menu {
  background: url("../images/menu.gif");
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
  float: left;
  width: 100%;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
  -o-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.03);
}
#main-menu ul.menu,
#main-menu ul.menu * {
  line-height: 1.0;
  list-style: none;
  margin:	0;
  padding: 0;
}
#main-menu ul.menu ul {
  background: #fff;
  border: 1px solid #d9d9d9;
  position: absolute;
  top: -999em;
  width: 150px; /* left offset of submenus need to match (see below) */
}
#main-menu ul.menu li {
  background: transparent;
  float: left;
  font-family: Arial;
  font-weight: 700;
  position: relative;
  text-align: center;
}
#main-menu ul.menu ul li {
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
}
#main-menu ul.menu li:hover ul,
#main-menu ul.menu li.sfHover ul {
  left: 0;
  top: 38px; /* match top ul list item height */
  z-index: 99;
}
#main-menu ul.menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}
#main-menu ul.menu li:hover li ul,
#main-menu ul.menu li.sfHover li ul {
  top: -999em;
}
#main-menu ul.menu li li:hover ul,
#main-menu ul.menu li li.sfHover ul {
  left: 150px; /* match ul width */
  top: 0;
}
#main-menu ul.menu li li:hover li ul,
#main-menu ul.menu li li.sfHover li ul {
  top: -999em;
}
#main-menu ul.menu li li li:hover ul,
#main-menu ul.menu li li li.sfHover ul {
  left: 150px; /* match ul width */
  top: 0;
}

#main-menu ul.menu li a {
  border-left: 1px solid #EE00D1;
  color: #fff;
  display: block;
  font-size: 12px;
  font-weight: bold;
  padding: 15px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
#main-menu ul.menu li.first a,
#main-menu ul.menu li li a {
  border-left: none;
}
#main-menu ul.menu li li {
  font-weight: normal;
  text-align: left;
}
#main-menu ul.menu li a:hover,
#main-menu ul.menu li:hover >a,
#main-menu ul.menu li.active-trail a,
#main-menu ul.menu li a.active {
  background: url("../images/menu-hover.gif");
  color: #EB59FF;
}

#main-menu ul.menu li ul.menu li a{
  background: #fff;
  color: #585858;
}

#main-menu ul.menu li ul.menu li a:hover,
#main-menu ul.menu li ul.menu li a:active{
  background: #F1F1F1;
}

#main-menu ul.menu ul ul {
  border-top: 1px solid #d9d9d9;
}
#main-menu ul.menu ul li a{
  font-size: 12px;
  padding: 8px 12px;
  color: #585858;
}

/* arrows
/*-------------------------------------------*/
#main-menu ul.menu a.sf-with-ul {
  min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
  padding-right: 2.25em;
}

.sf-sub-indicator {
  /* 8-bit indexed alpha png. IE6 gets solid image only */
  background: url('../images/arrows-menu.png') no-repeat -10px -100px;
  display: block;
  height: 10px;
  overflow: hidden;
  position: absolute;
  right: .75em;
  text-indent: -999em;
  top: 1.5em; /* IE6 only */
  width: 10px;
}

/* give all except IE6 the correct values */
a > .sf-sub-indicator {
  background-position: 0 -100px; /* use translucent arrow for modern browsers*/
  top: .8em;
}

/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
  background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs
/*-------------------------------------------*/
#main-menu ul.menu ul .sf-sub-indicator {
  background-position: -10px 0;
}
#main-menu ul.menu ul a > .sf-sub-indicator {
  background-position: 0 0;
}

/* apply hovers to modern browsers
/*-------------------------------------------*/
#main-menu ul.menu ul a:focus > .sf-sub-indicator,
#main-menu ul.menu ul a:hover > .sf-sub-indicator,
#main-menu ul.menu ul a:active > .sf-sub-indicator,
#main-menu ul.menu ul li:hover > a > .sf-sub-indicator,
#main-menu ul.menu ul li.sfHover > a > .sf-sub-indicator {
  background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/* shadows for all but IE6
/*-------------------------------------------*/
.sf-shadow ul {
  background:	url('../images/shadow-menu.png') no-repeat bottom right;
  padding: 0 8px 9px 0;
  -moz-border-radius-bottomleft: 17px;
  -moz-border-radius-topright: 17px;
  -webkit-border-top-right-radius: 17px;
  -webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
  background: transparent;
}
