
/* --------------------------------------------- 

* Filename:     style.css
* Version:      1.0.0 (2015-03-21)
* Website:      http://www.zymphonies.com
                http://www.freebiezz.com
* Description:  System Styles
* Author:       Zymphonies Team
                info@zymphonies.com

-----------------------------------------------*/
html {
  background: url("../images/main-bg.gif");
  background-repeat: repeat;
}
body {
  background: url("../images/main-bg.gif");
  color: #8B828F;
  font: 13px/1.6 "Helvetica", "Tahoma", "Trebuchet MS", "Arial", sans-serif;
  position: relative;
  line-height: 130%;
}
a {
  color: #940082;
  text-decoration: none;
}
a:hover {
  color: #b3b3b3;
  text-decoration: underline;
}
p {
  margin: 0 0 12px 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: "Arial",  "Helvetica", sans-serif;
  font-weight: normal;
  line-height: 1;
  margin: 0 0 20px 0;
}
h1 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
h2 {
  font-size: 16px;
  margin: 0 0 16px 0;
  text-transform: uppercase;
  font-weight: bold;
}
h3 {
  font-size: 16px;
  margin: 0 0 14px 0;
}
h4 {
  font-size: 14px;
  margin: 0 0 12px 0;
}
h5,
h6 {
  font-size: 14px;
  margin: 0 0 12px 0;
}

h1 a,
h2 a,
h1 a:hover,
h2 a:hover {
  color: #fff;
}
#page-wrapper {
  position: relative;
}
#header {
  background: url('../images/header-top.png') top center repeat;
  border-bottom: 1px solid #EE00D1;
  height: 102px;
  position: relative;
}
#header .section {
  height: 102px;
  margin: 0 auto;
  position: relative;
  width: 940px;
}
#logo {
  float: left;
  margin: 12px 4px 4px;
}
#sitename {
  float: left;
  margin: 30px 15px 0 10px;
}
#header h1 {
  font-size: 24px;
  margin: 0 0 6px 0;
}
#header h2 {
  font-size: 14px;
  font-style: italic;
}
#main-wrapper {
  margin: 0 auto;
  width: 1000px;
}
#main {
  padding: 0 30px 30px 30px;
}
#slideshow {
  float: left;
  width: 100%;
}
#slideshow .block{
  margin-bottom: 0;
}
#breadcrumb {
  background: url('../images/line2.png') left bottom no-repeat;
  font-size: 12px;
  margin: 0;
  padding: 0 0 8px 0;
}
#breadcrumb a {
  text-decoration: none;
}

/* columns
/*-------------------------------------------*/
.column {
  float: left;
}
.col-1 .column {
  width: 100%;
}
.col-2 .column {
  width: 50%;
}
.col-3 .column {
  width: 33.3%;
}
.col-4 .column {
  width: 25%;
}

/* top columns
/*-------------------------------------------*/
#top-columns {
  margin: 25px auto 0 auto;
  padding-bottom: 30px;
}
#top-columns .block {
  margin: 0 5px;
  background: #FAFAFA;
  color: #D689B7;
}
#top-columns h2{
  background: url("../images/tabs-divider.gif");
  padding: 10px 10px;
  color: white;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
}
#top-columns .content{
  padding: 10px;
  background: url("../images/tab-content.gif");
}
/* content
/*-------------------------------------------*/
/* 3 columns */
body.two-sidebars #content {
  float: left;
  width: 540px;
}

/* 2 columns */
body.sidebar-first #content,
body.sidebar-second #content {
  float: left;
  width: 740px;
}

/* sidebar-first */
#sidebar-first {
  float: left;
  width: 200px;
}

/* sidebar-second */
#sidebar-second {
  float: right;
  width: 200px;
}

#sidebar-first .section {
  border-right: 1px solid #4D0644;
  padding: 20px 20px 40px 0;
}
#sidebar-second .section {
  border-left: 1px solid #ebebeb;
  padding: 20px 0 40px 20px;
}

.not-front #sidebar-first .section,
.not-front #sidebar-second .section{
  min-height: 350px;
}

#content {
  padding: 20px 0 20px 0;
}

.not-front #content{
  min-height: 350px
}

body.two-sidebars #content .section {
  padding-left: 20px;
  padding-right: 30px;
}
body.sidebar-first #content .section {
  padding-left: 20px;
}
body.sidebar-second #content .section {
  padding-right: 30px;
}

#block-block-13 input {
  border: none;
}

/* bottom columns
/*-------------------------------------------*/
#bottom-columns {
  margin: 0 0 20px 0;
}
#bottom-columns .block {
  padding: 0 30px 0 0;
}

/* footer
/*-------------------------------------------*/
#footer-wrapper {
  background: url('../images/bg.gif') top center repeat;
  border-top: 1px solid #EE00D1;
  color: #8a8a8a;
  font-size: 12px;
  position: relative;
}
#footer-wrapper .section {
  margin: 0 auto;
  padding: 30px 0 20px 0;
  position: relative;
  width: 940px;
}

#footer-columns {
  margin: 0 0 10px 0;
}

#footer-columns .block {
  padding: 0 30px 0 0;
}

#footer-wrapper h2 {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

#copyright {
  float: left;
}
#developed {
  float: right;
}

.f-left,
.f-right,
#top-columns img,
#bottom-columns img {
  float: left;
  margin: 5px 10px 3px 0;
  border: 1px solid #ebebeb;
  padding: 5px;
  background: #fff;
}

.node-article img{
  float: none;
}

.social-icons {
  background: #000;
  position: fixed;
  right: 0;
  top: 10%;
  padding: 5px 0px;
  border: 1px solid #530249;
}
.social-icons ul {
  margin: 0;
}
.social-icons li {
  list-style: none;
  background: none;
  padding: 5px 10px;
  margin: 0;
}
.social-icons li img {
  display: block;
}